@model Preora.Models.UserModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model.Addusers != null)
{
<script>
    $(document).ready(function () {
        myFunction(@Model.Addusers.id)
    });
</script>
}
<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Add Users</li>
        </ol>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">Add/Update Users</h4>
                    </div>
                    @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { @encType = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(x => x.Addusers.id)
                        <div class="card-body">
                            <div class="row pt-1">
                                    <div class="col-md-3 mb-3">
                                        <label>Name</label>
                                        @Html.TextBoxFor(x => x.Addusers.Uname, new { @class = "form-control", @placeholder = "Username" })
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Role</label>
                                        @Html.TextBoxFor(x => x.Addusers.rolename, new { @class = "form-control", @placeholder = "Role Type" })
                                    </div>
                                    @*<div class="col-md-4 mb-3">
                                        <label>Shop<i style="color:red">*</i></label>
                                        @Html.DropDownListFor(x => x.Addusers.shopid, ViewBag.shop as SelectList, "--Select--", new { @class = "form-control select2-width-50", @required = "required"})
                                    </div>*@
                                    <div class="col-md-3 mb-3">
                                        <label>Username<i style="color:red">*</i></label>
                                        @Html.TextBoxFor(x => x.Addusers.username, new { @class = "form-control", @placeholder = "Username", @required = "required" })
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label>Password<i style="color:red">*</i></label>
                                        @Html.TextBoxFor(x => x.Addusers.password, new { @type = "password", @class = "form-control", @placeholder = "password", @required = "required" })
                                    </div>
                               
                                <center><h4 class="card-title">MENU PERMISSION</h4></center><hr />
                                <div class="row mb-4">
                                    <h4>Masters :</h4>
                                    @foreach (var menulist in Model.Menuslist1)
                                    {
                                        <div class="col-md-3 mb-1 check">
                                            <input style="border:2px solid black" type="checkbox" name="Addusers.menuid_arr[]" id="userManagementReads_@menulist.mid" value="@menulist.mid" multiple="multiple"> @menulist.menu_name
                                        </div>
                                    }
                                </div>
                                <div class="row mb-4">
                                    <h4>Billings :</h4>
                                    @foreach (var menulist in Model.Menuslist2)
                                    {
                                        <div class="col-md-3 check">
                                            <input style="border:2px solid black" type="checkbox" name="Addusers.menuid_arr[]" id="userManagementReads_@menulist.mid" value="@menulist.mid" multiple="multiple"> @menulist.menu_name
                                        </div>

                                    }
                                </div>
                                <div class="row">
                                    <h4>Reports :</h4>
                                    @foreach (var menulist in Model.Menuslist3)
                                    {
                                        <div class="col-md-3 check">
                                            <input style="border:2px solid black" type="checkbox" name="Addusers.menuid_arr[]" id="userManagementReads_@menulist.mid" value="@menulist.mid" multiple="multiple"> @menulist.menu_name
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-dark">Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>




<script>
    function myFunction(id) {
        var ajaxCallURL = '../Admin/Getassingrole?id=' + id;
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: ajaxCallURL,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                console.log(data);
                for (var i in data) {
                    $('#userManagementReads_' + data[i].mid).attr('checked', true);
                }
            },
            error: function (ex) {
            }
        });
    };
</script>
