@model IEnumerable<Preora.Models.PurchaseReturnModel>
@{
    ViewBag.Title = "PurchaseReturnList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h4 class="card-title mb-0">Purchase Return List</h4>
                    <a href="~/Admin/PurchaseReturn" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add Purchase Return</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="file_export" class="table table-striped table-bordered display">
                            <thead class="bg-info">
                                <tr>
                                    <th class="text-white">S. No.</th>
                                    <th class="text-white">Entry Code</th>
                                    <th class="text-white">Supplier</th>
                                    <th class="text-white">Invoice #</th>
                                    <th class="text-white">Bill Date</th>
                                    <th class="text-white">Due Date</th>
                                    <th class="text-white">Amount</th>
                                    <th class="text-white">Paid</th>
                                    <th class="text-white">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td><a href="@Url.Action("PurchaseReturnDetail", "Admin", new { c_id = item.id })">@item.PR_code</a></td>
                                        <td>@item.PR_suppName</td>
                                        <td>@item.PR_invoiceno</td>
                                        <td>@Html.DisplayFor(modelItem => @item.PR_billdate)</td>
                                        <td>@Html.DisplayFor(modelItem => @item.PR_duedate)</td>
                                        <td>@item.PR_FinalAmt</td>
                                        <td>@item.PR_PaidAmt</td>
                                        <td>@item.PR_BalanceAmt</td>

                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>